@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto:wght@400;700&display=swap');
body{
    background-color: black;
}
.datapad{
    background-color: rgb(20,20,20);
    background-image: url("../img/starwarsBorder.png");
    /* background: url("img/starwarsBorder.png"); */
    width: 1200px;
    height: 994px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 63px 50px 0px 50px;
}
.content{
    background-color: rgb(20,20,20);
    /* should make the text start at the bottom of the screen */
    /* margin: 10% 0 0 0; */
    position: relative;
    height:940px;
    width: 1130px;
    overflow: hidden;
    /* margin: 0 auto; */
    box-sizing: border-box;
    margin-left:10px;
    color: #ffc909;
    font-size: 110%;
}

#scrollWrapper{
    display: flex;
    height: 100%;
    width: 100%;
    perspective: 450px;
}
#scrollWrapper::after{
    content:'';
    position: fixed;
    top: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(20,20,20,1)40%, rgba(20,20,20,0)100%);
}

#scrollBox{
    color: #ffc909;
    font-size: 40px;
    text-align: justify;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
    animation: scroll 150s linear forwards;
}
h1, h2{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
font-family: 'Roboto', sans-serif;
}
@keyframes scroll{
    from{top:1000px; transform: translateZ(0) rotateX(30deg);}
    to{top:-9000px; transform: translateZ(-2500px) rotateX(32deg);}
}
.hidden{
    display: none;
}
.half{
    height: 100%;
    width: 45%;
    display: inline-block;
    padding-top: 100px;
}
#left{
    background: rgb(54,82,143);
    background: linear-gradient(90deg, rgba(54,82,143,0) 10%, rgba(12, 71, 134, 0.75) 50%, rgba(54,82,143,0) 90%);    
    /* background-color: red; */
}
#right{
    float: right;
    background: rgb(143,54,54);
    background: linear-gradient(90deg, rgba(143,54,54,0) 9%, rgba(109, 9, 9, 0.764) 50%, rgba(143,54,54,0) 89%);
    background-repeat: no-repeat;
}
.logo{
    display: block;
    opacity: 90%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}
input{
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    height:50px;
    width:250px;
    background-color: #181818;
    border: 2px solid #404040;
    line-height: 50px;
    font-size:40px;
    color: #ffc909;
    text-align: center;
}
.logoFlareRed{
    background: rgb(255,255,255);
    background:radial-gradient(circle, rgba(255,255,255,.75) 7%, rgba(204,33,33,0.48082983193277307) 52%, rgba(204,33,33,0) 68%);
    height: 420px;
    padding-top: 10px;
}
.logoFlareBlue{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,.75) 7%, rgba(16, 91, 171, 0.5) 52%, rgba(204,33,33,0) 68%);
    height: 420px;
    padding-top: 10px;
}
#joinHeading{
    display: block;
    position: absolute;
    top: 15px;
    left: 425px;
    z-index: 1;
}
#destiny, #reset{
    display: block;
    margin: 0 auto;
    height:60px;
    width:250px;
    background-color: #181818;
    border: 2px solid #404040;
    line-height: 60px;
    font-size:40px;
    position: absolute;
    z-index: 1;
    top: 750px;
    left: 445px;
    color: #ffc909;
}
.caps{
    text-transform: uppercase;
}
.gameSquare{
    width: 150px;
    height: 150px;
    /* border: 1px solid rgb(231, 187, 57); */
    display: inline-block;
    margin: 10px;
}
.gameSquare img{
    pointer-events: none;
    margin: 0;
    display: block;
}
.gameContainer{
    width: 550px;
    height: 550px;
    display: block;
    margin: 20px auto;
}
.hilt{
    position: absolute;
    pointer-events: none;
}
#hiltBottomLeft{
    top: 598px;
    left: 235px;
    height: 100px;
    transform: rotate(60deg);
}
#hiltTopLeft{
    top: 375px;
    left: 235px;
    height: 100px;
    transform: rotate(300deg)rotateX(180deg);
}
#hiltLeftBottom{
    top: 787px;
    left: 455px;
    height: 100px;
    transform: rotate(-16deg);
}
#hiltRightBottom{
    top: 787px;
    left: 634px;
    height: 90px;
    transform: rotate(-16deg);
}
.playerStats{
    display: inline-block;
    width: 45%;
    border: 1px solid #ffc909;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
}

.gameSquare img {
    height: 100%;
    width: 100%;
}
.playerStats{
    background: linear-gradient(90deg, rgba(54,82,143,0) 10%, rgba(12, 71, 134, 0.75) 50%, rgba(54,82,143,0) 90%);  
}
.right{
    float: right;
    background: linear-gradient(90deg, rgba(143,54,54,0) 9%, rgba(109, 9, 9, 0.764) 50%, rgba(143,54,54,0) 89%);
}
#vicImg{
    width: 900px;
    display: block;
    margin: 0 auto;
}
#gameOver{
    text-align: center;
}
#github{
    position: absolute;
    display: block;
    top: 623px;
    left: 1539px;
    /* background-color: aqua; */
    height: 50px;
    width: 45px;
    border-radius: 13px;
    box-shadow: 0 0 10px #ffc909;
}

#bladeBottomLeft{
    top: 525px;
    left: 211px;
    transform: rotate(180deg);
    width: 700px;
    height: 192px;
}
#bladeTopLeft{
    top: 348px;
    left: 211px;
    transform: rotate(180deg);
    width: 700px;
    height: 192px;
}
#bladeLeftBottom{
    top: 427px;
    left: 108px;
    transform: rotate(90deg);
    width: 700px;
    height: 192px;
}
#bladeRightBottom{
    top: 442px;
    left: 304px;
    transform: rotate(90deg);
    width: 660px;
    height: 192px;
}
.blade{
    position: absolute;
    pointer-events: none;
}