.container{
    max-width: 1000px;
    background-color: antiquewhite;
    margin: 0 auto;
}
body{
    background-color: aliceblue;
}
#gameSpace{
    margin: 0 auto;
    display: block;
}
.gameSquare{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: inline-block;
}
.red{
    background-color: red;
}

img{
    height: 240px;
    width: 240px;
}
.score{
    display: inline-block;
    width: 45%;
    border: 2px solid black;
    margin-bottom: 20px;
}
.hidden{
    display: none;
}
input{
    width: 90%;
}
.right{
    float:right;
    text-align: right;
}
#start{
    display: block;
}
.start, .hidden{
    border:1px solid black
}